@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
body {

}

h1 {

  font-size: 3em;
  margin-bottom: 1.25em;
  font-family: 'Yanone Kaffeesatz';
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-style: normal;
  font-family: helvetica;
}

h3 {

}

h4 {

}
